@model PizzaApp.Models.ViewModels.ReviewViewModel

    <form asp-controller="Review" asp-action="Save">
        <select asp-for="CustomerId" asp-items="PizzaApp.Helper.Data.CustomersToSelectListItems()">
            <option value=""> - You are? - </option>
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
        <a asp-controller="Review" asp-action="Index" class="btn btn-warning">Cancel</a>
    </form>